Debe especificar el puerto en el que se consume postgresql (Por defecto suele ser el 5432, sin embargo en el PC en el que se realizó esta prueba, es el 5433)
PG_PORT=5432

Especificar el servidor en el que se encuentra hosteada la base de datos (Por defecto localhost)
PG_HOST= localhost

Especificar el nombre de usuario asignado a postgres (Por defecto postgres)
PG_USER=postgres

Especificar la contraseña de postgresql (0000 para el caso del PC en el que se realizó la prueba)
PG_PASSWORD=

Especificar el nombre de la base de datos
PG_DATABASE=lad_batting
